name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        program:
          - kprobe
          - kretprobe
          - fentry
          - fexit
          - uprobe
          - uretprobe
          - sock_ops
          - socket_filter
          - sk_msg
          - xdp
          - cgroup_skb
          - cgroup_sockopt
          - cgroup_sysctl
          - classifier
          - lsm
          - perf_event
          - raw_tracepoint
          - tp_btf
          - tracepoint

    steps:
      - uses: actions/checkout@v3

      - name: Install latest stable
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rust-src

      - uses: Swatinem/rust-cache@v2

      - name: Install deps
        uses: taiki-e/install-action@v2
        with:
          tool: bpf-linker,cargo-generate

      - name: Run tests
        run: ./test.sh ${{ github.workspace }} ${{ matrix.program }}
